# =========================
# Android Studio
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# Gradle
# =========================
.gradle/
build/
*/build/

# Gradle Wrapper cache
.gradle-cache/

# Local configuration
local.properties

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Android build outputs
# =========================
*.apk
*.aab
*.ap_

# =========================
# Navigation / generated
# =========================
.navigation/

# =========================
# Kotlin / Java compile
# =========================
*.class

# =========================
# Firebase / Google Services
# =========================
google-services.json

# =========================
# Secrets / keys (IMPORTANT pour toi)
# =========================
*.keystore
*.jks
*.pem
*.pub
linuxkernel44
linuxkernel44.pub

# =========================
# Android Studio captures / previews
# =========================
captures/
*.hprof

# =========================
# Room / Room DB debug
# =========================
*.db
*.db-journal
*.sqlite